{% extends "base.html" %}
{% block title %} CV {% endblock %}
{% block content %}

<nav class="resume-nav">

    {% include "_navigation.html" %}
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}">
    </header>

    <section id="about">
        <h2>Про мене</h2>
        <p>Я студент Прикарпатського національного університету, спеціальність — "Інженерія програмного забезпечення". Маю великий інтерес до IT та прагну розвиватися в цій сфері. Хоча досвіду роботи поки що немає, я активно займаюся самонавчанням і працюю над проектами, що допомагає мені вдосконалювати свої практичні навички. Вільний час присвячую програмуванню, що дозволяє мені підтримувати креативний підхід і ефективно працювати. Моя мета — стати висококваліфікованим фахівцем у програмній інженерії, зокрема в [ваша сфера інтересів, наприклад, розробка веб-додатків, мобільні технології, розробка ПЗ для підприємств], і зробити свій внесок у розвиток технологій.</p>
    </section>

    <section id="education">
        <h2>Освітній шлях</h2>
        <p>Прикарпатський національний університет імені Василя Стефаника</p>
        <p>Спеціальність: Інженерія програмного забезпечення</p>
        <p>Роки навчання: 2022 – до тепер</p>
    </section>

    <section id="skills">
    <h2>Мої навички</h2>
     <ul class="resume1-ul">
        <li>Основи програмування на C++</li><br>
        <li>Основи розробки застосунків на Qt</li><br>
        <li>Основи роботи з OpenGL</li><br>
        <li>Основи програмування на PHP</li><br>
        <li>Веб-верстка (HTML, CSS)</li><br>
        <li>Розробка веб-застосунків з використанням Flask</li><br>
        <li>Основи роботи з базами даних (MySQL, PostgreSQL)</li><br>
        <li>Знання JavaScript та бібліотек (наприклад, jQuery)</li><br>
        <li>Основи роботи з Git для керування версіями</li><br>
        <li>Розробка RESTful API</li><br>
    </ul>
</section>

</nav>
{% endblock %}